{% extends 'blog/base.html' %}

{% block content %}
  <div class="blog-post">

    <div class="post-options">
      {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
      {% endif %}
    </div>

    <div class="post-heading">

      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

    </div>

    <div class="post-metadata">
      Author : {{post.author}}
      {% if post.published_date %}
     Published: {{post.published_date}}
     {% else %}
        <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
     {% endif %}
    </div>
    <div class="post-body">
      {{post.text | linebreaks}}
    </div>
      <hr>
    <div class="comments">
      {% for comment in post.comments.all %}
        {% if user.is_authenticated or comment.approved_comment %}
        <a class="btn btn-default add-comment" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        <div class="comment">
            <p class="metadata">{{ comment.author }} at {{ comment.created_date }} said: </p>  <hr>
            {% if not comment.approved_comment %}
              <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
            <p>{{ comment.text | linebreaks }} </p>
            {% empty %}
              <p>No comments here yet :(</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
