{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
      <div class="blog-post">
        <div class="post-heading">
          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        </div>
        <div class="post-metadata">
          Author : {{post.author}}
          Published: {{post.created_date|date:'d-m-Y'}}
        </div>
        <div class="post-body">
          {{post.text|truncatechars:200}}
        </div>
      </div>
      {% endfor %}
{% endblock %}
