.jumbotron{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  background: url("img/bg2.jpg") no-repeat;
  background-position: 25% 20%;
  background-size: 100%;
  min-height: 70vh;

  color: #FFF;
  font-family: "Oxygen", sans-serif;
  font-size: 18px;
  padding: 3em;
  text-shadow: 0px 2px 10px rgba(0,0,0,0.8)
}

.jumbotron h1{
  font-size: 50px;
}

.jumbotron p{
  width: 500px;
}
