/*
  FONTS
  font-family: 'Share', cursive;
  font-family: 'Lobster Two', cursive;
  font-family: 'Raleway', sans-serif;
  font-family: 'Ubuntu', sans-serif;
*/

body,html{
  margin:0; padding:0; box-sizing: border-box;
}

.header{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  min-height: 10px;
  max-height: 60px;
  background: #58c446;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  font-size: 30px;
}

.header .brand{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  padding: 10px;
  width: 300px;
  text-align: center;
}

.navigation{
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;

  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.navigation a{
  display: block;
  padding: 6px;
  min-height: 10px;
  min-width: 100px;
  text-decoration: none;
  color: #FFF;
  background: #51B541;
  border-radius: 30px;
  margin: 0 .2em;
  border: 2px solid #51B541;
}

.navigation a:hover{
  background: #58c446;
  border: 2px solid #51B541;
}
